.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(240, 231, 231);
}
.text{
    display: flex;
    flex-wrap: nowrap;
}
.footer-menu a{
    padding: 30px;
}
.footer-menu{
    display: none;
    list-style: none;
}

.footer-social{
    display: flex;
    list-style: none;
}




@media screen and (min-width:768px) {
 .footer-menu{
    display: flex;
 }   
 .footer-menu a{
    padding: 30;
 }

}
@media screen  and (min-width:1200px) {
    footer-menu a{
        padding: 0px;
    }
}