main{
    padding-left: 15px;
    margin: 0;
}
.title{
font-weight: 900px;
font-size: 32px;
text-transform: uppercase;
}

.mobile-unicorn{
display: block;
margin: auto;
padding: 80px 80px;
}

.content{
display: flex;
flex-direction: column;
}

.more{
display: block;
height: 120px;
width: 120px;
background-color: red;
color: white;
padding: 40px 10px;
font-weight: 700;
}

.text{
width: 50%;
font-weight: 700;
margin-top: 0;
}

.big-unicorn{
    display: none;
}

.social{
    list-style: none;
    display: none;
}





@media screen and (min-width:768px) {
    .mobile-unicorn{
        display: none;}
        .big-unicorn{
            display: block;
            transform: translate(30px ,20px);
            margin: auto;
        }
        .content{
            flex-direction: row;
           
        }
        .more{
            /* margin-right: 400px; */
        }
        .text{
            margin-left: 50px;
            width: 300px;
        }
        .social{
            display: block;
position: relative;
left: -30px;
top: -600px;
        }
}

@media screen  and (min-width:1200px) {
    .big-unicorn{
        position: relative;
        top: -450px;
        right: -400px;
        
        padding-bottom: 20px;
    }
    .title{
        display: flex;
        font-size: 60px;
        position: relative;
        right: -50px;
    }
    .content{
        transform: translate(170px, 600px);
    }
    .text{
font-size: 20px;
/* transform: translate(-40px, 600px); */
width: 80%;
    }
    .more{
        /* transform: translate(170px, 600px); */
    }
    .social{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateY(300px);
        margin: 30px;
    }
}